- var thepages = pages
    each value, index in thepages
      if value.ajax && index == current
        div(
        id= index
        ng-class= "theclass('" + index + "')"
        data-left= value.left
        data-right= value.right
        data-down= value.down
        data-up= value.up
        data-ajax = value.ajax
        animationend="endpage"
        class="pt-page"
        )
          div(
          class="container clearfix"
          )
            include pages/contents.jade
