extends layout

block content

  include ../ababool_plugins/preloader/index.jade
  include ../ababool_plugins/mainmenu/index.jade

  #pt-main(
    class="pt-perspective"
    ng-init="newpages=''; current='" + cur + "'; token='" + token + "';debugger=''")

    - var thepages = pages
        each value, index in thepages
          if !value.ajax || index == cur
            div(
            id= index
            ng-class= "theclass('" + index + "')"
            data-left= value.left
            data-right= value.right
            data-down= value.down
            data-up= value.up
            animationend="endpage"
            class="pt-page"
            )
              div(
              class="container clearfix"
              )
                include pages/contents.jade

  include ../ababool_plugins/footer/index.jade
  include ../ababool_plugins/navigator/index.jade
