
meta(
  charset="utf-8"
  )

meta(
  name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"
  )

title= params[0].title

link(
  href= conf.general.domain + params[0].id + '/' + params[0].tag
  rel="canonical"
)

style(amp-boilerplate)
  | body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
noscript
  style(amp-boilerplate)
    | body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}

style(amp-custom).
  body {font-family: monospace;font-size: 14px;line-height: 20px;}
  code {color: red;background-color: #e2e2e2;  padding: 2px;margin: 2px;line-height: 30px;}
  .box {padding: 20px;}
  .breadcrumb {background-color: #f2f2f2; padding: 10px;}
  ul { list-style-type : none}
  pre {background-color:#000; color:#fff; padding: 10px;}

if params[0].ldjson
  script(type="application/ld+json") !{JSON.stringify(params[0].ldjson)}
