h1 suscribe
h2 suscribe here

form(
  action="//algosemueve.us10.list-manage.com/subscribe/post?u=c9f6d7b14fe187deafd348c9e&amp;id=6e71001106"
  method="post"
  id="mc-embedded-subscribe-form"
  name="mc-embedded-subscribe-form"
  class="validate form-inline"
  target="_blank"
  novalidate=""
)
div(class="form-group")
  input(
    type="email"
    value=""
    name="EMAIL"
    class="form-control email"
    id="mce-EMAIL"
    placeholder="email address"
    required=""
  )
button(
  type="submit"
  class="btn btn-default"
  id="mc-embedded-subscribe"
) Notify me!

p
p
p
