ul(id="mainmenu" class="mainmenu")

  - var thepages = pages
      each value, index in thepages
        if value.mainmenu
          li(
          id= "menu-" + index
          ng-click="gotopage('" + index + "'," + value.animation + ")"
          class="mainmenuli mainmenuliitem hidden-xs hidden-sm"
          )= value.menutitle

  - var thepages = pages
      each value, index in thepages
        if value.mainmenu && value.home
          div(
            id= "menu-brand"
            ng-click="gotopage('" + index + "'," + value.animation + ")"
            class="mainmenuli mainmenuicon visible-xs-* visible-sm-* hidden-lg hidden-md"
            )= value.menutitle



div(
  id= "menu-mainmenu"
  ng-click="gotopage('mainmenu',46)"
  class="mainmenuli mainmenuicon"
  )
  span(
    class="glyphicon glyphicon-menu-hamburger"
    )
