ul(id="mainmenu" class="mainmenu")
  li(
    id= "menu-home"
    ng-click="gotopage('home',10)"
    class="mainmenuli mainmenuicon"
    )
    span(
      class="glyphicon glyphicon-home"
      )
  li(
    id= "menu-back"
    ng-click="gotopage(backpage,10)"
    class="mainmenuli mainmenuicon"
    )
    span(
      class="glyphicon glyphicon-arrow-left"
      )
  li(
    id= "menu-fullscreen"
    ng-click="screenfull()"
    class="mainmenuli mainmenuicon"
    )
    span(
      class="glyphicon glyphicon-fullscreen"
      )
  - var thepages = pages
      each value, index in thepages
        if value.mainmenu
          li(
          id= "menu-" + index
          ng-click="gotopage('" + index + "'," + value.animation + ")"
          class="mainmenuli"
          )= value.menutitle
  li(
    id= "menu-mainmenu"
    ng-click="gotopage('mainmenu',46)"
    class="mainmenuli mainmenuicon pull-right"
    )
    span(
      class="glyphicon glyphicon-menu-hamburger"
      )
