div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8 darkbox")
  h1 Blog

  div(class="box3")

    ul(class="list-group list-group-black")

      li(class="list-group-item")
        h4
          span(
          class="link"
          ng-click="gotopage('blog/hello-world',30)"
          ) Hello World
        p
          | Ababool MEAN Full-Stack Solution is out!

      li(class="list-group-item")
        h4
          span(
          class="link"
          ng-click="gotopage('blog/to-do',30)"
          ) Things to do
        p
          | There will always be many outstanding things to do in Ababool

      li(class="list-group-item")
        h4
          span(
          class="link"
          ng-click="gotopage('blog/working-with-pages',30)"
          ) Working with pages
        p
          | Pages are the way that we create front views with Ababool.

      li(class="list-group-item")
        h4
          span(
          class="link"
          ng-click="gotopage('blog/ababool-comments-system',30)"
          ) Ababool Comments System
        p
          | Learn how to create a feedbacks/comments system with Ababool

      li(class="list-group-item")
        h4
          span(
          class="link"
          ng-click="gotopage('blog/ababool-restful-api',30)"
          ) Ababool as a RESTful API
        p
          | Develop easy RESTful applications with Ababool.


      li(class="list-group-item")
        h4
          span(
          class="link"
          ng-click="gotopage('blog/ababool-plugins',30)"
          ) Ababool Plugins
        p
          | You can use and create Ababool plugins to increase the project functionality.
