div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8 darkbox")
  h1 Wow! thats great!
  h3
    | Some examples, demos and ideas

  ul(class="list-group list-group-black")
    li(class="list-group-item")
      h4 Page transitions
      p The Ababool pages can take among 64 different animations and CSS3 transitions.
      button(class="btn btn-primary"
      ng-click="gotopage('transitions',20)"
      ) See all transitions

  ul(class="list-group list-group-black")
    li(class="list-group-item")
      h4 Request a page with AJAX
      p You request a page with AJAX. You can load the page only one time or you can reload it each time is called.
      p Demo of an Ababool Page loaded with AJAX (only one time)
      button(class="btn btn-primary"
      ng-click="gotopage('ajax1',30)"
      ) Request page
      p Demo of an Ababool Page loaded with AJAX (reloads each time is called)
      button(class="btn btn-primary"
      ng-click="gotopage('suscribe',30)"
      ) Request page


  ul(class="list-group list-group-black")
    li(class="list-group-item")
      h4 Navigator
      p You can set the right, left, up and down attributes to each page to navigate between them with the navigator plugin.
      button(class="btn btn-primary"
      ng-click="gotopage('navigator',30)"
      ) Navigator example

  ul(class="list-group list-group-black")
    li(class="list-group-item")
      h4 Full Google Map Page
      p This is a simple demo of full Google Maps full page
      button(class="btn btn-primary"
      ng-click="gotopage('map',30)"
      ) Request a map

  ul(class="list-group list-group-black")
    li(class="list-group-item")
      h4 Youtube
      p This is a simple demo of page with a youtube video
      button(class="btn btn-primary"
      ng-click="gotopage('youtube',30)"
      ) Request a video
