div(class="box col-xs-12 col-sm-12 col-md-8 col-lg-8 white")
  h1 How to
  h3(class="animated" data-animation="bounceInLeft")
    | Tutorials, examples, demos and ideas.

  div(class="box3")
    ul(class="list-group list-group-transparent")

      each post in data
        li(class="list-group-item animated" data-animation="bounceInLeft")
          h4 !{post.title}
          p
            | !{post.teaser}
          div
            | <button class="btn btn-primary btn-xs" ng-click="gotopage('#{post.id}',30)"><span class="glyphicon glyphicon-file"  aria-hidden="true"></span>Read post</button>
            | <a href="#{conf.general.domain + post.slug}" class="btn btn-default btn-xs">
            | <span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>


  h3(class="animated mt-30" data-animation="bounceInLeft")
    | Ababool examples:


  ul(class="list-group list-group-black")
    li(class="list-group-item")
      h4 Request a page with AJAX
      p You request a page with AJAX. You can load the page only one time or you can reload it each time is called.
      p Demo of an Ababool Page loaded with AJAX (only one time)
      button(class="btn btn-primary"
      ng-click="gotopage('ajax1',30)"
      ) Request page
      p Demo of an Ababool Page loaded with AJAX (reloads each time is called)
      button(class="btn btn-primary"
      ng-click="gotopage('suscribe',30)"
      ) Request page


  ul(class="list-group list-group-black")
    li(class="list-group-item")
      h4 Navigator
      p You can set the right, left, up and down attributes to each page to navigate between them with the navigator plugin.
      button(class="btn btn-primary"
      ng-click="gotopage('navigator',30)"
      ) Navigator example

  ul(class="list-group list-group-black")
    li(class="list-group-item")
      h4 Full Google Map Page
      p This is a simple demo of full Google Maps full page
      button(class="btn btn-primary"
      ng-click="gotopage('map',30)"
      ) Request a map

  ul(class="list-group list-group-black")
    li(class="list-group-item")
      h4 Youtube
      p This is a simple demo of page with a youtube video
      button(class="btn btn-primary"
      ng-click="gotopage('youtube',30)"
      ) Request a video

  ul(class="list-group list-group-black")
    li(class="list-group-item")
      h4 Modals
      p This is a simple demo of a modal window

      button(class="btn btn-primary"
      ng-click="openModal(1, true)"
      ) Modal with overlay

      | #{' '}

      button(class="btn btn-primary"
      ng-click="openModal(1, false)"
      ) Modal without overlay
