div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8 lightbox")
  h1 How
  h3
    | Useful documentation to work with Ababool

  ul(class="list-group list-group-black")
    li(class="list-group-item")
      h4 Start and installation
      | <p>Ababool is a MEAN Full-Satck solution, do you must install NodeJS and MongoDB before.</p>
      button(class="btn bt-info"
      ng-click="gotopage('start',10)"
      ) Start and installation

    li(class="list-group-item")
      h4
        span(
        class="link"
        ng-click="gotopage('blog/working-with-pages',30)"
        ) Working with pages
      p
        | Pages are the way that we create front views with Ababool.

    li(class="list-group-item")
      h4
        span(
        class="link"
        ng-click="gotopage('blog/ababool-comments-system',30)"
        ) Ababool Comments System
      p
        | Learn how to create a feedbacks/comments system with Ababool

    li(class="list-group-item")
      h4
        span(
        class="link"
        ng-click="gotopage('blog/ababool-restful-api',30)"
        ) Ababool as a RESTful API
      p
        | Develop easy RESTful applications with Ababool.


    li(class="list-group-item")
      h4
        span(
        class="link"
        ng-click="gotopage('blog/ababool-plugins',30)"
        ) Ababool Plugins
      p
        | You can use and create Ababool plugins to increase the project functionality.
